*{
    box-sizing: inherit;
}

li{
    display: inline-block;
}
.top{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: white;
    z-index: 1;
}


ul li{
    float: right;
    margin: 5px 137px 25px 28px;
    padding: 2px 50px 2px 19px ;  
}
div ul{
    text-decoration: none;
    color: black;
    
    font-size: 20px;
      
}
a{
    text-decoration: none;
}
.first{
   
   display: inline-block;
    
}
.second{
    display: inline-block;
    margin: 2px 2px 2px 250px;
    padding: 2px 20px 2px 200px;
}
.image{
    height: 100%;
    padding-bottom: 20px;

}
.image p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-content: right;
}
#br{
    position: absolute;
    top: 543px;
    left: 604px;
    background-color: red;
    word-spacing: 15px;
    font-size: 60px;
}

.projects h2{
    padding-bottom: 20px;
}

.house{
    position: relative;
    display: inline-block;
    padding: 0px -10px;
}
.house p{
    position: absolute;
    top: -15px;
    background-color: black;
    color: white;
    padding: 10px;
}

.about h2{
    padding-top: 40px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.images{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    display: inline-block;
    width: 350px;
    margin-left: 10px;
}
.opacity{
    opacity: 0.60;
}
.para{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
button{
    padding-left: 120px;
    padding-right: 200px;
    padding-top: 10px;
    background-color: grey;
    width: 5px;
}
#sri{
    word-wrap: break-word;
}
#cont{
    padding-bottom: 30px;
}
.name{
    margin-left: 20px;
    padding: 10px;
    
}
.last{
    padding-top: 20px;
    margin-left: 20px;
}
.last h2{
    background-color: black;
    color: white;
    display: inline;
    padding: 5px 5px 5px;

}
.fotter{
    background-color: black;
    padding: 20px;
}
.fotter a{
    color: white;
}
span{
    color: white;
    background-color: black;
    display: inline;
}

